<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear VideoJuego</title>
    <link rel="stylesheet" href="/styles/styles_inicio.css">
    <link rel="stylesheet" href="/styles/editar_videojuegos.css">
</head>
<body>
    <header>
        <h1>Crear VideoJuego Digital</h1>
    </header>
    <!-- Formulario para editar un estudiante existente -->
    <form action="#" th:action="@{/videojuego/nuevo/digital}" th:object="${videojuegoDigital}" method="post">
        <table>
            <!-- Campo para crear el nombre -->
            <tr>
                <td><label for="titulo">Titulo:</label></td>
                <td><input type="text" id="titulo" th:field="*{titulo}" required /></td>
            </tr>
            <!-- Campo para ingresar la URL de la imagen -->
            <tr>
                <td><label for="imagen">URL de la Imagen:</label></td>
                <td><input type="text" id="imagen" th:field="*{imagen}" required /></td>
            </tr>
            <!-- Campo para crear la plataforma -->
            <tr>
                <td><label for="plataforma">Plataforma:</label></td>
                <td><input type="text" id="plataforma" th:field="*{plataforma}" required /></td>
            </tr>
            <!-- Campo para crear el tamaño -->
            <tr>
                <td><label for="tamano">Tamaño(GB):</label></td>
                <td><input type="text" id="tamano" th:field="*{tamano}" required /></td>
            </tr>
            <!-- Campo para crear la cantidad -->
            <tr>
                <td><label for="disponibles">Cantidad:</label></td>
                <td><input type="text" id="disponibles" th:field="*{disponibles}" required /></td>
            </tr>
            <!-- Campo para crear el precio -->
            <tr>
                <td><label for="precio">Precio:</label></td>
                <td><input type="text" id="precio" th:field="*{precio}" required /></td>
            </tr>
            <!-- Campo para crear la reseña -->
            <tr>
                <td><label for="resena">Reseña:</label></td>
                <td><input type="text" id="resena" th:field="*{resena}" required /></td>
            </tr>
            <!-- Botón para crear el videojuego -->
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">Crear Videojuego</button>
                </td>
            </tr>
        </table>
    </form>

    <!-- Enlace para volver a la lista de videojuegos -->
    <div class="enlaces">
        <a href="/administrador">Volver a la lista</a>
    </div>
    
    <footer>
        <p>&copy; 2024 Tienda de Videojuegos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
